body{
    background-color: rgb(249, 255, 254);
}

.navbar1{
    border-bottom: 1px solid rgb(190, 186, 186)
}
.img-logo{
    height: 50px;
    width: 110px;
}

.carousel1{
    height: 400px;
    background-color: aquamarine;
    
}

.nino1{
    height: 400px;
    position: absolute;
    width: 100%
    
}

.nino2{
    height: 400px;
    position: absolute;
    width: 100%

}

.nino3{
    height: 400px;
    position: absolute;
    width: 100%
 
}

.button1{
    background-color: lightsalmon
}

.button2{
    background-color: rgb(0, 151, 20);
    color: white;
    border: none;
    margin-left: 120px;
}

.button3{
    background-color: rgb(184, 189, 255)
}
.box{
    height: 70px;
    background-color: rgb(175, 180, 255);
    border-style: dashed;
    border-width: 1px;
    border-color: brown;
    }
.box1{
    height: 150;
    border-style: solid;
    border-width: 1px;
}
.box2{
    height: 150;
    border-style: solid;
    background-color: rgb(221, 236, 255);
    border-width: 1px;
}

.box4{
    height: 218px;
    background-color: antiquewhite;
    border-style: dashed;
    border-width: 1px;
    border-color: brown;

}

.box-news{
    background-color: rgb(233, 249, 255);
    margin-bottom: 100px;
    padding-top: 20px;
}

.jumbotron-nosotros{
    background-color: rgb(255, 245, 233);
    text-align: center;
}

.jumbotron-noticias{
    background-color: rgb(255, 245, 233);
    text-align: center;
}
.footer{
    background-color: #f8f9fa;
    color: black;
    padding: 20px;
    font-size: 15px;
    height: 400px;
    padding-top: 40px;
    border-top: 2px solid rgb(190, 186, 186)
}

.box3{
    height: 200px;
    width: 350px;
}

.box-index{
    padding-top: 80px;
}
.box-index1{
    padding-top: 20px;
}
.box-index2{
    padding-top: 80px;
}
.box-index3{
    margin-bottom: 65px
}

.box-nosotros{
    background-color: rgb(233, 249, 255);
}

.img-fluid{
    max-width: 100%;
    height: auto;
}
.txt-noticias{
    padding-top: 30px;
    text-align: center;
}
.txt-nosotros{
    padding-top: 30px;
}

.img-noticias1{
    margin-left: 150px;
    margin: 25px;
}

.img-noticias1{
    margin-left: 150px;
    margin: 25px;
    padding-top: 30px;
}


.img-noticias4{
    margin-left: 150px;
    margin: 25px;
    width: 480px;
}